.game {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 2px solid #fff;
}
.game-img {
  flex: 6;
  width: 100%;
  object-fit: cover;
}
.game-buttons {
  display: flex;
  flex: 1;
}
.game-buttons:nth-child(2) { padding-right: 10px; }
.game-buttons:nth-child(3) { padding-bottom: 10px; padding-right: 10px; }